name: Terraform Test

on:
  pull_request:
    branches:
      - main
    paths:
      - "*.tf"
      - "tests/**"
      - ".github/workflows/terraform-test.yml"

jobs:
  test:
    permissions:
      contents: read
    uses: devops-ia/.github/.github/workflows/terraform-test.yml@main
